# Ignoring python bite code files and other temp files:
*.pyc
*.txt~
*.py~

# Ignoring IDE project and settings files: 
.*project
.idea/*
.settings/*

# Ignoring Django settings file and initial_data.json file for database (we have copy _initial_data.json)
src/promis_api/promis_api/settings.py
src/promis_api/promis_data/fixtures/initial_data.json

# I can't remember now what it is
src/promis_api/build/*


