# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/

# virtualenv
venv/
ENV/
env/

# Database and request files
ionosat_request/db.sqlite3
ionosat_request/request_files/*
# ionosat_request/dump.json
