[project]
	description = PROcessed Measurements of Ionospheric Satellites (Ukrainian ionospheric satellites)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/elpiankova (elpiankova)
[access "refs/for/refs/*"]
	read = group user/elpiankova (elpiankova)
	push = group user/elpiankova (elpiankova)
	label-Code-Review = -2..+2 group user/elpiankova (elpiankova)
	label-Verified = -1..+1 group user/elpiankova (elpiankova)
	rebase = group user/elpiankova (elpiankova)
	removeReviewer = group user/elpiankova (elpiankova)
	submit = group user/elpiankova (elpiankova)
[access "refs/heads/*"]
	read = group user/elpiankova (elpiankova)
	create = group user/elpiankova (elpiankova)
	push = +force group user/elpiankova (elpiankova)
	pushMerge = group user/elpiankova (elpiankova)
[access "refs/tags/*"]
	push = +force group user/elpiankova (elpiankova)
	pushTag = group user/elpiankova (elpiankova)
	pushSignedTag = group user/elpiankova (elpiankova)
