[project]
	description = PROcessed Measurements of Ionospheric Satellites (Ukrainian ionospheric satellites)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/elpiankova
[access "refs/for/refs/*"]
	read = group user/elpiankova
	push = group user/elpiankova
	label-Code-Review = -2..+2 group user/elpiankova
	label-Verified = -1..+1 group user/elpiankova
	rebase = group user/elpiankova
	removeReviewer = group user/elpiankova
	submit = group user/elpiankova
[access "refs/heads/*"]
	read = group user/elpiankova
	create = group user/elpiankova
	push = +force group user/elpiankova
	pushMerge = group user/elpiankova
[access "refs/tags/*"]
	push = +force group user/elpiankova
	pushTag = group user/elpiankova
	pushSignedTag = group user/elpiankova
