<!doctype html>
<html lang="en" ng-app="requestKNA">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="claimInfoCtrl">
  <!-- Початок вмісту сторінки -->
  <div class="container">
    <div class="page-header">
      <h1>Створення заявки </h1>
    </div>
    <p class="lead">Створення заявки на політ та коротке описання що саме ми робимо...
      це все буде знаходитись тут після того як ми самі зрозуміємо що ми самі хочемо</p>
  </div>
  <form role="form" class="container">
    <div class="panel panel-default">

      <div class="panel-heading"><b>Оформлення заявки</b></div>
      <div class="panel-body" >
    <div class="form-group">
      <label>Признак комплекса</label>
      <input type="text" class="form-control" ng-model="maindata.kna">
    </div>
    <div class="form-group">
      <label >Номер заявки (буде приписуватись з сервера автоматично)</label>
      <input type="text" class="form-control" ng-model="maindata.appnumber">
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <label>Дата початку</label>
        <input type="date" class="form-control">
      </div>
      <div class="col-sm-6">
        <label>Дата кінця</label>
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label>Признак ветви:</label>
      <input type="text" list="team_list2" class="form-control">
      <datalist id="team_list2">
        <option ng-repeat="branche in branches">[[branche.name]]</option>
        <!-- и т.д. -->
      </datalist>
    </div>

    <div class="form-group">
      <label>Широта начальной точки сеанса работы</label>
      <input type="number" value="0" min="-82.0" max="82.0" step="0.1" class="form-control" >
    </div>

    <div class="row form-group">
      <div class="col-sm-6">
        <label>Лівий кордон діапазону</label>
        <input type="number" value="180" min="0" max="359.0" step="0.1" class="form-control">
      </div>
      <div class="col-sm-6">
        <label>Правий кордон діапазону</label>
        <input type="number" value="180" min="0" max="359.0" step="0.1" class="form-control">
      </div>
    </div>
    <div class="panel panel-default">

      <div class="panel-heading"><b>Пристрій 1</b></div>
      <div class="panel-body">

        <div class="form-group">
          <label>Назва приладу:</label>
          <input type="text" list="team_list" class="form-control">
          <datalist id="team_list">
            <option ng-repeat="applic in appliance">[[applic.name]]</option>
          </datalist>
        </div>

        <div class="form-group">
          <label>Режим роботи:</label>
          <input type="text" list="team_list3" class="form-control">
          <datalist id="team_list3">
            <option ng-repeat="behavior in behavior">[[behavior.name]]</option>
          </datalist>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <label>Час затримки</label>
            <input type="time" class="form-control">
          </div>
          <div class="col-sm-6">
            <label>Час роботи</label>
            <input type="time" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Код для програматора</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>

      </div>
    </div>
    <div class="form-group">
      <button type="button"
              class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        Добавити ще один пристрій
      </button>
    </div>
        </div>
      </div>
    <div class="form-group">
      <button type="button"
              class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-ok"></span>
        Згенерувати заявку
      </button>
      <a href="KNA.zp" class="btn btn-success btn-lg btn-block" download="KNA"><span class="glyphicon glyphicon-download-alt"></span> Скачать </a>
    </div>
  </form>



  <footer class="footer">
    <div class="container">
      <p class="text-muted">Копірайти та може контакти чи ще щось</p>
    </div>
  </footer>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>
