{% load staticfiles %}
<!doctype html>
<html lang = "en"
      ng-app = "requestKNA"
      xmlns = "http://www.w3.org/1999/html">
<head>
	<meta charset = "utf-8">
	<title>Заявка</title>
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/bower_components/bootstrap/dist/css/bootstrap.css' %}">
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/css/app.css' %}">
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/css/main.css' %}">
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/bower_components/jquery-ui/themes/pepper-grinder/jquery-ui.min.css' %}">
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/bower_components/bootstrap/dist/css/bootstrap-datetimepicker.min.css' %}">

	<script src = "{% static 'request_creation/bower_components/jquery/dist/jquery.js' %}"></script>
	<script src = "{% static 'request_creation/js/maskedinput.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/bootstrap/dist/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/jquery-ui/globalize.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/jquery-ui/globalize.culture.de-DE.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/jquery-ui/jquery-ui.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/angular/angular.js' %}"></script>
	<script src = "{% static 'request_creation/js/app.js' %}"></script>
	<script src = "{% static 'request_creation/js/controllers.js' %}"></script>
	<script src = "{% static 'request_creation/js/filters.js' %}"></script>
	<script src = "{% static 'request_creation/js/directives.js' %}"></script>
</head>
<body ng-controller = "claimInfoCtrl as claimInfo">
<div id = "fixblock"
     class = "alert alert-success"
     ng-show = "claimInfo.amount">
	Количество данных: [[claimInfo.data_amount | formatText]]<br>
	Мощность: [[claimInfo.power_amount | number:2 ]] Ват
</div>
<!-- Created by mammut -->
<div class = "container">
	<div class = "page-header">
		<h1>Заявки на проведение научных экспериментов КНА "Ионосат-Микро" </h1>
	</div>
	<div class = "panel panel-default">

		<div class = "panel-heading"><b>Оформлення заявки</b>
		</div>
		<div class = "panel-body">

			<ng-form name = "loginForm"
			         novalidate>
				<div class = "form-group"
				     ng-class = "{'has-error': loginForm.numbers.$invalid}">
					<label>2 Номер заявки</label>
					<input type = "number"
					       class = "form-control"
					       name = "numbers"
					       ng-model = "claimInfo.user.number"
					       min = "0"
					       max = "99"
					       required>
				</div>
				<div class = "row form-group">
					<div class = "col-sm-12">
						<label>Диапазон дат планирования</label>
					</div>

				</div>
				<div class = "row form-group">
					<div class = "col-sm-6 "
					     ng-class = "{'has-error': loginForm.date_start.$invalid}">
						<label>3 Начало</label>
						<input type = "text"
						       pattern = "[0-9]{4}-[0-9]{2}-[0-9]{2}"
						       class = "form-control"
						       id = "from"
						       name = "date_start"
						       ng-model = "claimInfo.user.date_start"
						       required
						       datepicker>
					</div>
					<div class = "col-sm-6"
					     ng-class = "{'has-error': loginForm.date_end.$invalid}">
						<label>4 Окончание</label>
						<input type = "text"
						       id = "to"
						       pattern = "\d{4}-\d{1,2}-\d{1,2}"
						       class = "form-control"
						       name = "date_end"
						       ng-model = "claimInfo.user.date_end"
						       required
						       datepicker>
					</div>
				</div>
				<div class = "form-group"
				     ng-class = "{'has-error': loginForm.orbit_flag.$invalid}">
					<label>5 Признак ветви витка сеанса работы</label>
					<select ng-model = "claimInfo.user.orbit_flag"
					        name = "orbit_flag"
					        ng-options = "branch.code as branch.name for branch in claimInfo.branches"
					        class = "form-control"
					        ng-value = "claimInfo.branch"
					        required></select>
					</datalist>
				</div>
				<div class = "form-group"
				     ng-class = "{'has-error': loginForm.latitude_start.$invalid}">
					<label>6 Широта начальной точки сеанса работы</label>
					<input type = "number"
					       name = "latitude_start"
					       value = "0"
					       min = "-82.0"
					       max = "82.0"
					       step = "0.1"
					       class = "form-control"
					       ng-model = "claimInfo.user.latitude_start"
					       required>
				</div>
				<div class = "row form-group">
					<div class = "col-sm-12">
						<label>Границы диапазона долгот начала сеанса работы</label>
					</div>
				</div>
				<div class = "row form-group">
					<div class = "col-sm-6"
					     ng-class = "{'has-error': loginForm.longitude_left.$invalid}">
						<label>7 Левая</label>
						<input type = "number"
						       name = "longitude_left"
						       value = "180"
						       min = "0"
						       max = "359.0"
						       step = "0.1"
						       class = "form-control"
						       ng-model = "claimInfo.user.longitude_left"
						       required>
					</div>
					<div class = "col-sm-6"
					     ng-class = "{'has-error': loginForm.longitude_right.$invalid}">
						<label>8 Правая</label>
						<input type = "number"
						       name = "longitude_right"
						       value = "180"
						       min = "0"
						       max = "359.0"
						       step = "0.1"
						       class = "form-control"
						       ng-model = "claimInfo.user.longitude_right"
						       required>
					</div>
				</div>
				<div class = "panel panel-default"
				     ng-repeat = "switch in claimInfo.todos">

					<div class = "panel-heading">
						<b ng-model = "user.switches"> Прибор: [[ switch.device]]</b>
					</div>
					<div class = "panel-body">
						<ng-form name = "DevForm"
						         novalidate>

							<div class = "alert alert-success"
							     role = "alert"
							     ng-if = "switch.amount">
								Количество данных: [[switch.data_amount | formatText]]<br>
								Мощность: [[switch.power_amount | number:2 ]] Ват
							</div>
							<div class = "form-group "
							     ng-class = "{'has-error': DevForm.device.$invalid}">
								<label>10 Имя прибора </label>
								<select ng-model = "switch.device"
								        name = "device"
								        ng-options = "applic.name as applic.name for applic in claimInfo.appliance"
								        class = "form-control"
								        required></select>
							</div>
							<div class = "form-group"
							     ng-repeat = "app in claimInfo.appliance"
							     ng-if = "app.name == switch.device"
							     ng-class = "{'has-error': DevForm.mode.$invalid}">
								<label>11 Режим работы</label>
								<select ng-model = "switch.mode"
								        name = "mode"
								        ng-options = "behav.name as behav.name for behav in app.modes"
								        class = "form-control"
								        required></select>


							</div>
							<div class = "row form-group">
								<div class = "col-sm-6"
								     id = "phone"
								     ng-class = "{'has-error': DevForm.time_delay.$invalid}">
									<label>12 Задержка времени включения питания
									       прибора</label>
									<input ng-model = "switch.time_delay"
									       name = "time_delay"
									       type = "text"
									       pattern = "[0-9]{3}:[0-9]{2}:[0-9]{2}"
									       placeholder = "hhh:mm:ss"
									       class = "form-control fromtime"
									       timespinner
									       required>

								</div>
								<div class = "col-sm-6"
								     ng-class = "{'has-error': DevForm.time_duration.$invalid}">
									<label>13 Длительность включения питания прибора</label>
									<input ng-model = "switch.time_duration"
									       name = "time_duration"
									       type = "text"
									       pattern = "[0-9]{3}:[0-9]{2}:[0-9]{2}"
									       placeholder = "hhh:mm:ss"
									       class = "form-control fromtime"
									       timespinner
									       required>
								</div>
							</div>
							<div class = "form-group">
								<label>Аргументная часть</label>
                                <textarea ng-model = "switch.argument_part"
                                          class = "form-control"
                                          rows = "3"
                                          ng-model = "text">[[ device ]]</textarea>
							</div>
						</ng-form>
						<button ng-click = "claimInfo.timeModes()"
						        ng-class = "{'btn-warning disabled': DevForm.$invalid}"
						        type = "button"
						        class = "btn btn-lg btn-primary btn-block">
							Пересчитать
						</button>
					</div>
				</div>
			</ng-form>
		</div>

		<div class = "form-group">
			<button ng-click = "claimInfo.addTodo()"
			        type = "button"
			        class = "btn btn-lg btn-primary btn-block"
			        ng-show = "claimInfo.Reqest"
			        ng-class = "{'btn-warning disabled': loginForm.$invalid}">
				<span class = "glyphicon glyphicon-plus"></span>
				Добавить устройство
			</button>
		</div>
	</div>
	<div class = "form-group">
		<button
				class = "btn btn-success btn-lg btn-block"
				ng-click = "claimInfo.dataReqest()"
				ng-show = "claimInfo.Reqest && claimInfo.todos[0]"
				ng-class = "{'btn-warning disabled': loginForm.$invalid}">
			<span class = "glyphicon glyphicon-ok"></span>
			Сгенерировать заявку
		</button>
	</div>

	<div class = "form-group"
	     ng-if = "claimInfo.hash">

		<a ng-href = "http://127.0.0.1:8000/[[claimInfo.hash]]"
		   class = "btn btn-success btn-lg btn-block">
			Скачать заявку
		</a>
	</div>
</div>
</body>
</html>
