{% load staticfiles %}
<!doctype html>
<html lang = "en"
      ng-app = "requestKNA"
      xmlns = "http://www.w3.org/1999/html">
<head>
	<meta charset = "utf-8">
	<title>Заявка</title>
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/bower_components/bootstrap/dist/css/bootstrap.css' %}">
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/css/app.css' %}">
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/css/main.css' %}">
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/bower_components/jquery-ui/themes/pepper-grinder/jquery-ui.min.css' %}">
	<link rel = "stylesheet"
	      href = "{% static 'request_creation/bower_components/bootstrap/dist/css/bootstrap-datetimepicker.min.css' %}">

	<script src = "{% static 'request_creation/bower_components/jquery/dist/jquery.js' %}"></script>
	<script src = "{% static 'request_creation/js/maskedinput.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/bootstrap/dist/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/jquery-ui/globalize.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/jquery-ui/globalize.culture.de-DE.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/jquery-ui/jquery-ui.js' %}"></script>
	<script src = "{% static 'request_creation/bower_components/angular/angular.js' %}"></script>
	<script src = "{% static 'request_creation/js/app.js' %}"></script>
	<script src = "{% static 'request_creation/js/controllers.js' %}"></script>
	<script src = "{% static 'request_creation/js/filters.js' %}"></script>
	<script src = "{% static 'request_creation/js/directives.js' %}"></script>
</head>
<body ng-controller = "claimInfoCtrl as claimInfo">
<!-- Created by mammut -->

<form name = "loginForm"
      novalidate>
	<div class = "container">
		<div class = "page-header">
			<h1>Заявки на проведение научных экспериментов КНА "Ионосат-Микро" </h1>
		</div>
		<p class = "lead">Принять формат файла заявки на проведение научных экспериментов КНА
		                  "Ионосат-Микро"</p>

		<div class = "panel panel-default">

			<div class = "panel-heading"><b>Оформлення заявки[[claimInfo.title]]</b></div>
			<div class = "panel-body">
				<div class = "form-group"
				     ng-class = "{'has-error': loginForm.numbers.$invalid}">
					<label>Номер заявки (буде приписуватись з сервера
					       автоматично)[[claimInfo.user]]</label>
					<input type = "number"
					       class = "form-control"
					       name = "numbers"
					       ng-model = "claimInfo.user.number"
					       min = "0"
					       max = "99"
					       required>
				</div>
				<div class = "row form-group">
					<div class = "col-sm-6 "
					     ng-class = "{'has-error': loginForm.date_start.$invalid}">
						<label>Дата початку</label>
						<input type = "text"
						       class = "form-control"
						       id = "from"
						       name = "date_start"
						       ng-model = "claimInfo.user.date_start"
						       required
						       datepicker>
					</div>
					<div class = "col-sm-6"
					     ng-class = "{'has-error': loginForm.date_end.$invalid}">
						<label>Дата кінця</label>
						<input type = "text"
						       id = "to"
						       class = "form-control"
						       name = "date_end"
						       ng-model = "claimInfo.user.date_end"
						       required
						       datepicker>
					</div>
				</div>
				<div class = "form-group"
				     ng-class = "{'has-error': loginForm.orbit_flag.$invalid}">
					<label>[[user.orbit_flag]]Признак ветви: </label>
					<select ng-model = "claimInfo.user.orbit_flag"
					        name = "orbit_flag"
					        ng-options = "branch.code as branch.name for branch in claimInfo.branches"
					        class = "form-control"
					        ng-value = "claimInfo.branch"
					        required></select>
					</datalist>
				</div>

				<div class = "form-group"
				     ng-class = "{'has-error': loginForm.latitude_start.$invalid}">
					<label>Широта начальной точки сеанса работы[[name.latitude_start]]</label>
					<input type = "number"
					       name = "latitude_start"
					       value = "0"
					       min = "-82.0"
					       max = "82.0"
					       step = "0.1"
					       class = "form-control"
					       ng-model = "claimInfo.user.latitude_start"
					       required>
				</div>

				<div class = "row form-group">
					<div class = "col-sm-6"
					     ng-class = "{'has-error': loginForm.longitude_left.$invalid}">
						<label>Ліве межа довготи</label>
						<input type = "number"
						       name = "longitude_left"
						       value = "180"
						       min = "0"
						       max = "359.0"
						       step = "0.1"
						       class = "form-control"
						       ng-model = "claimInfo.user.longitude_left"
						       required>
					</div>
					<div class = "col-sm-6"
					     ng-class = "{'has-error': loginForm.longitude_right.$invalid}">
						<label>Права межа довготи</label>
						<input type = "number"
						       name = "longitude_right"
						       value = "180"
						       min = "0"
						       max = "359.0"
						       step = "0.1"
						       class = "form-control"
						       ng-model = "claimInfo.user.longitude_right"
						       required>
					</div>
				</div>
				<div class = "panel panel-default"
				     ng-repeat = "switch in claimInfo.todos">

					<div class = "panel-heading"><b ng-model = "user.switches"> Прилад :
					                                                            [[
					                                                            switch.device]]</b>
					</div>
					<div class = "panel-body">
						<div class = "alert alert-success"
						     role = "alert"
						     ng-if = "switch.data_amount">
							Кількість данних: [[switch.data_amount]] байт<br>
							Потужність: [[switch.power_amount | number:2 ]] Ват
						</div>
						<div class = "form-group "
						     ng-class = "{'has-error': loginForm.switch.device.$invalid}">
							<label>Назва приладу </label>
							<select ng-model = "switch.device"
							        ng-options = "applic.name as applic.name for applic in claimInfo.appliance"
							        class = "form-control"
							        required></select>
						</div>

						<div class = "form-group"
						     ng-repeat = "app in claimInfo.appliance"
						     ng-if = "app.name == switch.device">
							<label>Режим роботи</label>
							<select ng-model = "switch.mode"
							        ng-options = "behav.name as behav.name for behav in app.modes"
							        class = "form-control"
							        required></select>


						</div>
						<div class = "row form-group">
							<div class = "col-sm-6"
							     id = "phone">
								<label>Час затримки</label>
								<input ng-model = "switch.time_delay"
								       type = "text"
								       placeholder = "hh:mm:ss"
								       class = "form-control fromtime"
								       timespinner
								       required>

							</div>
							<div class = "col-sm-6">
								<label>Час роботи</label>
								<input ng-model = "switch.time_duration"
								       type = "text"
								       placeholder = "hh:mm:ss"
								       class = "form-control fromtime"
								       timespinner
								       required>
							</div>
						</div>
						<div class = "form-group">
							<label>Код для програматора</label>
                                <textarea ng-model = "switch.argument_part"
                                          class = "form-control"
                                          rows = "3"
                                          ng-model = "text">[[ device ]]</textarea>
						</div>

						<div class = "form-group">
							<button ng-click = "claimInfo.timeModes()"
							        ng-class = "{'btn-warning disabled': loginForm.switch.time_duration.$invalid}"
							        type = "button"
							        class = "btn btn-lg btn-primary btn-block">
								Обрахувати
							</button>
						</div>
					</div>
				</div>

				<div class = "form-group">
					<button ng-click = "claimInfo.addTodo()"
					        type = "button"
					        class = "btn btn-lg btn-primary btn-block"
					        ng-class = "{'btn-warning disabled': loginForm.$invalid}">
						<span class = "glyphicon glyphicon-plus"></span>
						Добавити пристрій
					</button>
				</div>
			</div>
			<div class = "form-group">
				<button
						class = "btn btn-success btn-lg btn-block"
						ng-click = "claimInfo.dataReqest()"
						ng-class = "{'btn-warning disabled': loginForm.$invalid}">
					<span class = "glyphicon glyphicon-ok"></span>
					Згенерувати заявку
				</button>
				<!--<a href="KNA.zp" class="btn btn-success btn-lg btn-block" download="KNA"><span class="glyphicon glyphicon-download-alt"></span> Скачать </a> -->
			</div>
		</div>
	</div>
</form>
<footer class = "footer container">
	Копірайти та може контакти чи ще щось Created by mammut

</footer>
</body>
</html>
