{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="{% static 'request_creation/bower_components/bootstrap/dist/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'request_creation/css/app.css' %}">
  <link rel="stylesheet" href="{% static 'request_creation/css/main.css' %}">
  <script src="{% static 'request_creation/bower_components/angular/angular.js' %}"></script>
  <script src="{%  static 'request_creation/js/controllers.js' %}"></script>
</head>
<body ng-controller="PhoneListCtrl">
  <!-- Початок вмісту сторінки -->
  <div class="container">
    <div class="page-header">
      <h1>Створення заявки</h1>
    </div>
    <p class="lead">Створення заявки на політ та коротке описання що саме ми робимо...
      це все буде знаходитись тут після того як ми самі зрозуміємо що ми самі хочемо</p>
  </div>
  <form role="form" class="container">
    <div class="panel panel-default">

      <div class="panel-heading"><b>Оформлення заявки</b></div>
      <div class="panel-body">
    <div class="form-group">
      <label>Признак комплекса</label>
      <input type="text" class="form-control" value="KNA">
    </div>
    <div class="form-group">
      <label >Номер заявки (буде приписуватись з сервера автоматично)</label>
      <input type="text" class="form-control" value="0002">
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <label>Дата початку</label>
        <input type="date" class="form-control">
      </div>
      <div class="col-sm-6">
        <label>Дата кінця</label>
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label>Признак ветви:</label>
      <input type="text" list="team_list2" class="form-control">
      <datalist id="team_list2">
        <option>Восходящая</option>
        <option>Нисходящая</option>
        <option>Не имеет значения</option>
        <!-- и т.д. -->
      </datalist>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Широта начальной точки сеанса работы</label>
      <input type="text" class="form-control" id="exampleInputEmail1"  pattern="+|-\d{3}\.\d">
    </div>

    <div class="row form-group">
      <div class="col-sm-6">
        <label>Лівий кордон діапазону</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-sm-6">
        <label>Правий кордон діапазону</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="panel panel-default">

      <div class="panel-heading"><b>Пристрій 1</b></div>
      <div class="panel-body">

        <div class="form-group">
          <label>Назва приладу:</label>
          <input type="text" list="team_list" class="form-control">
          <datalist id="team_list">
            <option>Волновые зонды WP</option>
            <option>Электрический зонд</option>
            <option>Радиочастотный анализатор</option>
            <option>Датчик нейтрального компонента плазмы</option>
            <option>Блок датчиков электронного компонента плазмы</option>
            <option>Феррозондовый магнитометр постоянного поля</option>
            <option>Измеритель полного электронного содержания</option>
            <option>Система сбора научной информации</option>
            <!-- и т.д. -->
          </datalist>
        </div>

        <div class="form-group">
          <label>Режим роботи:</label>
          <input type="text" list="team_list3" class="form-control">
          <datalist id="team_list3">
            <option>Режим1</option>
            <option>Режим2</option>
            <option>Режим3</option>
            <option>Режим4</option>
            <option>Режим5</option>
            <option>Режим6</option>
            <option>Режим7</option>
            <option>Режим8</option>
          </datalist>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <label>Час затримки</label>
            <input type="time" class="form-control">
          </div>
          <div class="col-sm-6">
            <label>Час роботи</label>
            <input type="time" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Код для програматора</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>

      </div>
    </div>
    <div class="form-group">
      <button type="button"
              class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span>
        Добавити ще один пристрій
      </button>
    </div>
        </div>
      </div>
    <div class="form-group">
      <button type="button"
              class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-ok"></span>
        Згенерувати заявку
      </button>
    </div>
  </form>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Копірайти та може контакти чи ще щось</p>
    </div>
  </footer>
</body>
</html>
